<!DOCTYPE html>
<html>
	<head>
		<script type="text/javascript" src="/js/jquery-3.6.0.js"></script>
		<script type="text/javascript" src="/bootstrap-3.4.1-dist/js/bootstrap.js"></script>
		
		<link rel="stylesheet" type="text/css" href="/bootstrap-3.4.1-dist/css/bootstrap.css" />
		<link rel="stylesheet" type="text/css" href="/css/main.css" media="screen" />
		<link rel="stylesheet" type="text/css" href="/css/register.css" media="screen" />
		<script type="text/javascript" src="/js/profile.js"></script>
		<title>Profile</title>
	</head>
	<body>
		<nav class="navbar navbar-default navbar-static-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"></button>
					<a class="navbar-brand" href="/">PhoneZone</a>
				</div>
				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
						<li><a href="/">Main</a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li><a href="/checkout">Check out</a></li>
						<li><a href="/users/signout">Sign out</a></li>
					</ul>
				</div>
			</div>
		</nav>

		<div class="container">
			<div class="userInfo">
				<h2>Profile</h2>
	
				<form class="form-form">
					<fieldset disabled>
						<label for="firstname">First Name</label> 	
						<input type="text" name="firstname" class="form-control" value="<%= userInfo["firstname"] %>"/>
		
						<label for="lastname">Last Name</label> 
						<input type="text" name="lastname" class="form-control" value="<%= userInfo["lastname"] %>"/>
				
						<label for="email">Email</label> 
						<input type="email" name="email" class="form-control" value="<%= userInfo["email"] %>"/>
					</fieldset>
				</form>

				<%- include('editProfile') %>
				<%- include('editPassword') %>
				<%- include('addNewListing') %>
			</div>

			
			<div class="phoneList">
				<div class="table-responsive">
					<table class="table table-hover">
						<thead>
							<th>Title</th>
							<th>Brand</th>
							<th>Image</th>
							<th>Avaliable Stock</th>
							<th>Seller</th>
							<th>Price</th>
							<th>Disabled</th>
							<th></th>
							<th></th>
						</thead>
						<tbody>
							<% if (items.length > 0) { %>
								<% for(var i=0;i<items.length;i++) {%>
									<tr id=<%=items[i]._id %>>
										<td class="title"><%= items[i].title %></td>
										<td class="brand"><%= items[i].brand %></td>
										<td><img src=<%=items[i].image %> alt="" class="thumbnail"></td>
										<td class="stock"><%= items[i].stock %></td>
										<td class="seller"><%= items[i].seller %></td>
										<td class="price"><%= items[i].price %></td>
										<td class="disabled"><%= items[i].disabled %></td>
										<td>
											<div>
												<input id="disableBtn" class="btn btn-primary" type="button" value="Disable" role="button" />
											</div>
										</td>
										<td>
											<div>
												<input id="removeeBtn" class="btn btn-primary" type="button" value="Remove" role="button" />
											</div>
										</td>
										<td></td>
								  </tr>
								<% } %>
							 
							<% } else {%>
								<td colspan="9" style="text-align: center;">You do not have anything listed yet.</td>
							<% } %>

						</tbody>
					</table>
				</div>


			</div>

		</div>
		<!-- <div>
			<div class="table-responsive">
				<table  class="table table-hover">
					<thead>
						<tr>
							<th>Title</th>
							<th>Brand</th>
							<th>Image</th>
							<th>Avaliable Stock</th>
							<th>Seller</th>
							<th>Price</th>
							<th>Disabled</th>
						</tr>
					</thead>
					  <tbody>
					    <% for(var i =0;i<items.length;i++) {%>
					      <tr id=<%=items[i]._id %>>
					      	<td><%= items[i].title %></td>
					      	<td><%= items[i].brand %></td>
					        <td><img src=<%=items[i].image %> alt="" class="thumbnail"></td>
					        <td><%= items[i].stock %></td>
					        <td><%= items[i].seller %></td>
					        <td><%= items[i].price %></td>
					        <td><%= items[i].disabled %></td>
					        <td><button>Disabled</button></td>
					        <td><button>Removed</button></td>
					        <td></td>
					      </tr>
					    <% } %>
					  </tbody>
				</table>
			</div>
		</div> -->
		
	</body>
</html>