<!DOCTYPE html>
<html>
	<head>
		<script type="text/javascript" src="/js/jquery-3.6.0.js"></script>
		<link rel="stylesheet" type="text/css" href="/bootstrap-3.4.1-dist/css/bootstrap.css" />
		<link rel="stylesheet" type="text/css" href="/css/main.css" media="screen" />
		<script defer type="text/javascript" src="/js/checkout.js"></script>
		<script type="text/javascript" src="/js/jquerysession.js"></script>
		<title>Check out</title>
	</head>
	<body>

		<div class="container">
			<div>
				<h2>Checkout</h2>
			</div>
			<div>
				<div class="nav" style="margin-bottom: 20px;">
					<button id="goBack" class="btn btn-info" type="button">Go back</button>
<<<<<<< HEAD
<<<<<<< HEAD
=======
					<!-- state?
					<script>
						$('#goBack').on('click', function(){
							history.go(-1);
						});
					</script> -->
>>>>>>> 0627f97243c5f14b9dd4ee6f13b163a993abda72
=======
>>>>>>> 53d01a385cc55772f851dcc7595b68b66879b40a
					<button id="confirm" class="btn btn-primary pull-right" type="button">Confirm</button>
				</div>
				<div style="margin-bottom: 10px;">
					<input type="text" placeholder="Quantity" name="quantity" style="width:6em; display:inline;" class="form-control">
					<input id="changeQuantity" class="btn btn-primary" type="button" value="Change quantity"/>
				</div>
				<div>
					<input id="remove" class="btn btn-primary" type="button" value="Remove"/>
				</div>

			</div>
			<div class="table-responsive">
				<table class="table table-hover">
					<thead>
						<th></th>
						<th></th>
						<th>Title</th>
						<th>Price</th>
						<th>Quantity</th>
					</thead>
					<tbody>
						<% for(var i = 0; i < info.length; i++) {%>
						<tr class="cartItem">
							<td class="id hide"><%=info[i].id %></td>
							<td>
								<div class="checkbox">
									<label>
										<input class="cartCheck" type="checkbox">
									</label>
								</div>
							</td>
							<td><img src=<%= info[i].image %> alt="" class="thumbnail"></td>
							<td class="title"><%= info[i].title %></td>
							<td class="price"><%= info[i].price %></td>
							<td class="quantity"><%= info[i].quantity %></td>
						</tr>
						<% } %>
					</tbody>
				</table>
			</div>
			<div class="text-right" style="font-size: 16px;">
				<span>Total items:</span>
				<span id="cartQuantity"></span>
				<span>Total price:</span>
				<span id="cartPrice"></span>
			</div>


		</div>




	</body>
</html>
