<!DOCTYPE html>
<html>
	<head>
		<script type="text/javascript" src="/js/jquery-3.6.0.js"></script>
		<link rel="stylesheet" type="text/css" href="/bootstrap-3.4.1-dist/css/bootstrap.css" />
		<link rel="stylesheet" type="text/css" href="/css/main.css" media="screen" />
		<link rel="stylesheet" type="text/css" href="/css/register.css" media="screen" />
		<script defer type="text/javascript" src="/js/register.js"></script> 
		<title>PhoneZone | Sign up</title>
	</head>
	<body>
		<nav class="navbar navbar-default navbar-static-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"></button>
					<a class="navbar-brand" href="/">PhoneZone</a>
				</div>
				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
						<li><a href="/">Main</a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li><a href="/checkout">Check out</a></li>
						<li><a href="/users/signin">Sign in</a></li>
					</ul>
				</div>
			</div>
		</nav>
		<div class="container">
			<h2>Sign up</h2>
			<form method = "POST" action="signup" class="form-signup_in">
				<fieldset>
					<!-- <legend>Sign up to buy</legend> -->
	
					<label for="firstname">First Name</label> 
					<input type="text" name="firstname" class="form-control" />
					<% if (errors.hasOwnProperty('firstname')) { %>
						<% for (var i = 0; i<errors['firstname'].length;i++){%>
							<p><%= errors['firstname'][i] %></p>
						<% } %>
					<% } %>
					
					<label  for="lastname">Last Name</label> 
					<input type="text" name="lastname" class="form-control" />
					<% if (errors.hasOwnProperty('lastname')) { %>
						<% for (var i = 0; i<errors['lastname'].length;i++){%>
							<p><%= errors['lastname'][i] %></p>
						<% } %>
					<% } %>
	
					<label for="email">Email</label> 
					<input type="email" name="email" class="form-control" />
					<% if (errors.hasOwnProperty('email')) { %>
						<% for (var i = 0; i<errors['email'].length;i++){%>
							<p><%= errors['email'][i] %></p>
						<% } %>
					<% } %>
	
					<label for="password">Password</label> 
					<input type="password" name="password" class="form-control" />
					<% if (errors.hasOwnProperty('password')) { %>
						<% for (var i = 0; i<errors['password'].length;i++){%>
							<p><%= errors['password'][i] %></p>
						<% } %>
					<% } %>
					
					<label for="confirm_password">Confirm Password</label> 
					<input type="password" name="confirm_password" class="form-control" style="margin-bottom: 10px;" />
					<% if (errors.hasOwnProperty('confirm_password')) { %>
						<% for (var i = 0; i<errors['confirm_password'].length;i++){%>
							<p><%= errors['confirm_password'][i] %></p>
						<% } %>
					<% } %>
					<% if (errors.hasOwnProperty('server')) { %>
						<% for (var i = 0; i<errors['server'].length;i++){%>
							<p><%= errors['server'][i] %></p>
						<% } %>
					<% } %>
					<input class="btn btn-primary" type="submit" value="Register" />
				</fieldset>
				<p>If you already have an account <a href="/users/signin">Sign in</a></p>
			</form>

		</div>
		
	</body>
</html>