<div id="soldOutSoon" class="panel panel-default" style="margin-top: 20px;">
  <div class="panel-heading">
    <h3 style="margin: -1px 0px -1px 0px;">Sold out soon</h3>
  </div>
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <th></th>
        <th>Price</th>
        <th>Stock</th>
      </thead>
      <tbody>
        <% for(var i =0;i<soldOut.length;i++) {%>
          <tr>
            <td><img src=<%= soldOut[i].image %> alt="" class="thumbnail"> </td>
            <td><%= soldOut[i].price %></td>
            <td><%= soldOut[i].stock %></td>
          </tr>
          <% } %>
        </tbody>
    </table>
  </div>
</div>
<div id="bestSellers" class="panel panel-default" style="margin-top: 20px;">
  <div class="panel-heading">
    <h3 style="margin: -1px 0px -1px 0px;">Best sellers</h3>
  </div>
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <th></th>
        <th>Price</th>
        <th>Average rating</th>
      </thead>
      <tbody>
        <% for(var i =0;i<topFive.length;i++) {%>
          <tr>
            <td><img src=<%=topFive[i].image %> alt="" class="thumbnail"></td>
            <td><%= topFive[i].price %></td>
            <td><%= topFive[i].avgReviews.toFixed(2) %></td>
          </tr>
        <% } %>
      </tbody>
    </table>
  </div>
  
  
</div>
