<h3>Search results</h3>
<table>
  <thead>
    <th>image</th>
    <th>title</th>
    <th>brand</th>
    <th>price</th>
    <th>stock</th>
  </thead>
  <tbody>
    <% for(var i =0;i<searchResults.length;i++) {%>
      <tr>
        <td><img src=<%=searchResults[i].image %> alt=""></td>
        <td><%= searchResults[i].title %></td>
        <td><%= searchResults[i].brand %></td>
        <td><%= searchResults[i].price %></td>
        <td><%= searchResults[i].stock %></td>
      </tr>
    <% } %>
  </tbody>
</table>
