<div id="searchDetails">

  <p> title: <%=info.title %></p>
  <p> brand: <%=info.brand %></p>
  <p> image: <%=info.image %></p>
  <p> stock: <%=info.stock %></p>
  <p> seller: <%= info.seller %></p>
  <p> price: <%=info.price %></p>

  <img src=<%=info.image %> alt="" class="thumbnail">

  <table class="table table-striped">


      <thead>
        <th> Reviewer</th>
        <th>Rating</th>
        <th>comment</th>
      </thead>
      <tbody>
        <% for(var i =0; i<info.reviews.length ;i++) {%>

        <tr <% if(i >= 3) { %> class="hide" <% } %> >
          <td> <%= info.reviews[i].reviewer %></td>
          <td> <%= info.reviews[i].rating %></td>
          <% if(info.reviews[i].comment.length > 200) { %>
            <td> <%= info.reviews[i].comment.substring(0,200) %> "...show more" </td>
            <td> show more </td>
          <% } else {%>
            <td> <%= info.reviews[i].comment %></td>
          <% } %>
        </tr>
        <% } %>
        <tr>
          <td>Show more comments</td>
        </tr>

      </tbody>
  </table>

</div>
