<p> title: <%=info.title %></p>
<p> brand: <%=info.brand %></p>
<p> image: <%=info.image %></p>
<p> stock: <%=info.stock %></p>
<p> seller: <%= info.seller %></p>
<p> price: <%=info.price %></p>
<% for(var i =0; i<info.reviews.length ;i++) {%>


  <div <% if(i >= 3) { %> class="hide" <% } %> >
    <p> reviewer: <%= info.reviews[i].reviewer %></p>
    <p> rating: <%= info.reviews[i].rating %></p>
    <% if(info.reviews[i].comment.length > 200) { %>
      <p> comment: <%= info.reviews[i].comment.substring(0,200) %> </p>
      <p> show more </p>
    <% } else {%>
      <p> comment: <%= info.reviews[i].comment %></p>
    <% } %>
  </div>
<% } %>
<p>show more comments </p>
